<app-header></app-header>

<div class="container py-5 mt-5">
    <div class="row">
        <div class="col-7 d-flex align-items-center justify-content-center">
            <img src="https://d2tyltutevw8th.cloudfront.net/media/image/open-banking-1200-1662083126.jpg" alt="login-image" class="img-fluid">
        </div>
        <div class="col-5 align-items-center justify-content-center">
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="p-4">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <!-- Account number input -->
                <div class="form-outline mb-4">
                  <input name="acno" formControlName="acno" type="email" id="form1Example13" class="form-control form-control-lg" placeholder="Account Number" />
                </div>
                <!-- invalid account number -->
                <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger mb-2">
                    Inavalid Account Number
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input name="pswd" formControlName="pswd" type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Password"/>
                </div>
                <!-- invalid password -->
                <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" class="text-danger mb-2">
                    Inavalid Password
                </div>
                <div class="text-danger">{{ errorMsg }}</div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100">
                    Login
                    <span *ngIf="successMsg" class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                </button>
                
                <!-- Register Link -->
                <p class="mb-5 pb-lg-2 mt-3" style="color: #393f81;">Don't have an account? <a routerLink="/register"
                    style="color: #393f81;">Register here</a></p>
            </form>
        </div>
    </div>
</div>

